.image-container {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

.color-container {
    width: 40%;
    margin: 0 auto;
}

.image-container .layer {
    position: absolute;
    width: 100%;
}

#filter {
    position: absolute;
    width: 100%;
    height: 100%;
}